body {
  margin: 0;
  background: #79bcfe;
  font: Verdana, Arial, sans-serif;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 24px;
  column-gap: 200px;
  row-gap: 50px;
}

.note {
  height: 400px;
  width: 350px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  background-color: #65b0fb;
  resize: none;
  font-family: sans-serif;
  font-size: 16px;
}

.add-note-container {
  height: 400px;
  width: 350px;
  display: flex;  
  justify-content: center;  
  align-items: center;  
}

.add-note {
  height: 150px;
  width: 150px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}

.note-text-box-div {
  height: 10%;
  width: 100%;
  margin-bottom: 3%;
  display: flex;
}

.note-monster-title {
  width: 60%;
  resize: none;
  background-color: rgba(0, 0, 0, 0.07);
  margin-right: 2%;
  border: 1px solid black;
  font-size: 24px;
}

.note-health-points{
  height: 100%;
  width: 50%;
  font-size: 24px;
  resize: none;
  background-color: rgba(0, 0, 0, 0.07);
  margin-left: 5%;
  margin-right: 5%;
  border: none;
  box-sizing:border-box;
}

.note-heal {
  height: 100%;
  width: 25%;
  font-size: 12px;
  border: 1px solid black;
  background-color: rgba(0, 255, 115, 0.7);
  vertical-align: top;
  box-sizing:border-box;
}

.note-damage {
  box-sizing: border-box;
  height: 100%;
  width: 25%;
  font-size: 12px;
  vertical-align: top;
  background-color: rgba(255, 4, 4, 0.7);
}

.note-info-bar {
  display: flex;
  height: 10%;
  justify-content: center;
}

.note-health {
  width: 17%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
  background-color: rgba(0, 0, 0, 0.07);
  font-size: 24px;
}

.note-slash {
  width: 7%;
  box-sizing: border-box;
  resize: none;
  background-color: rgba(0, 0, 0, 0.07);
  font-size: 24px;
}

.note-general-text {
  height: 65%;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.07);
  margin-top: 5%;
  font-size: 18px;
}

.note-delete-icon {
  height: 100%;
  background-color: transparent;
  border: none;
}

.note-trash-wrapper {
  display: flex;
  height: 10%;
  justify-content: right;
}

.note-slash:focus {
  outline: none;
  box-shadow: none;
}

.note-heal:hover {
  background-color: rgba(0, 0, 0, 0.14);
}

.note-damage:hover {
  background-color: rgba(0, 0, 0, 0.14);
}

.add-note:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.note-delete-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
