body {
  margin: 0;
  background: #b0d5fa;
  font: Verdana, Arial, sans-serif;
}

#app {
  display: inline-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 24px;
  column-gap: 30px;
  row-gap: 40px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3c454e;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3c454e;;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #3c454e;;
}
