body {
  margin: 0;
  background: #b0d5fa;
  font: Verdana, Arial, sans-serif;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 24px;
  column-gap: 200px;
  row-gap: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
